* {
	box-sizing: border-box;
}

html,
body {
 	height: 100%;
 	position: relative;
 	
}

.home {
	background: #f4f9f9;
	color: #253552;
}
 

.home h1 {
	background-image: url(../images/blue-code.jpg);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip:text;
	background-size: 800px 600px;
	background-repeat: repeat;
	background-clip: text;
	color:transparent;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
	font-size: 10vw;
	text-transform: uppercase;
	
}

h2 {
	font-family: 'Karla', sans-serif;
	text-transform: lowercase;
	font-weight: 300;
	letter-spacing: 2vw;
	margin: 0; 
}

h3 {
	font-family: 'Karla', sans-serif;
	text-transform: lowercase;
	font-weight: 300;
	letter-spacing: 4px;
	text-align: center;
	line-height: 1; 
	
}


a {
	color: #253552;
	text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:active {
  color: black;
}

.home nav {
	background: #B2D5E9; /*bright medium blue*/
}


header,
section {
	padding: 5px;
}


body {
	padding: 0;
    margin: 0;
  	width: 100%;
  	height: 100%;
}

.mini-intro {
	height: 400px;
	width: 800px;
	margin-top: 100px;
	margin-left: 100px;
	font-size: 60px;
	font-family: 'Karla', sans-serif;
}

/* home PAGE
------------------------*/

nav {
	position: absolute;
	font-family:'Karla', sans-serif; 
	font-size: 18px;
}

.lowerCase {
	text-transform: lowercase;
}


.home li {
	display: block;
}

.home nav {
	text-align: right;
	font-size: 18px;
}	

.home nav ul {
	display: none;
	margin-top: 70%;
}

.home nav:hover ul {
	display: block;
}

.home a:hover {
	color: black;
	padding: 10px;
	background-color: white;
	


}
.fa-bars {
	padding: 15px;
}

.home a {
	padding: 15px;
	display: inline-block;
}

/* HEADER$ 
------------------------*/

header h1 {
	font-size: 30px;
	font-family: 'Karla', sans-serif;
	padding: 35px 0 0 20px;
	margin-bottom: 2px;
	text-transform: lowercase;

}
header h2 {
	font-size: 18px;
	font-family: 'Karla', sans-serif;
	padding-left: 20px;
}


section {
	padding-top: 75px;
}

nav {
	position: absolute;
	right: 20px;
	top:20px;
}

nav ul {
	list-style-type:none; 
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block; 
}

nav a {
	display: block; 
	padding: 5px 15px;
	text-transform: uppercase;
	color: #253552;
}




/* ABOUT PAGE
------------------------*/

.about {  
	background: rgb(218,234,234);
    background: -moz-linear-gradient(90deg, rgba(218,234,234,1) 0%, rgba(118,179,234,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(218,234,234,1) 0%, rgba(118,179,234,1) 100%);
    background: linear-gradient(90deg, rgba(218,234,234,1) 0%, rgba(118,179,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#daeaea",endColorstr="#76b3ea",GradientType=1);
	font-family: 'Karla', sans-serif;
	font-size: 18px;
	color: #253552;
}


.about h3 {
	margin-bottom: 50px;
	font-size: 24px;
}

section .information {
	font-family: 'Karla', sans-serif;
	float: left;

}

.profile-img {
	height: 300px;
	width: 300px;
	margin-left: 150px;
	margin-right: 50px;
	margin-bottom: 20px;
	background: white;
    display: inline;
    float: left;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
    position:relative;
}

.profile-img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.interests {
	list-style-type: none;
	margin-left: 150px;
}


.information p {
	margin-right: 150px;
	padding: 10px;
	margin-left: 150px;
	color: #253552;
}

.information a {
	text-decoration: underline;
	color: #0044CC;
}


/* PROJECTS PAGE
------------------------*/

.examples{
	background-color: #B2D5E9; 
	height: 100%;
}

.examples nav {
	font-family: 'Karla', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	color: #f4f9f9;
}

.examples h1{
	color: #f4f9f9;
}

.project-heading {
  text-align: center;
  font-size: 18px;
  color: #f4f9f9;
}

.introduction {
  text-align: center;
}


div.row {
	margin-left: 5em;
	margin-right: 5em;
}

.caption {
	height: 128px;
}



/* CONTACT PAGE
------------------------*/

.contact {
	background-color: #76b3ea;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2376b3ea'/%3E%3Cstop offset='1' stop-color='%23253552'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23daeaea' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23daeaea' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23daeaea' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23daeaea' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	font-family: "Karla", sans-serif;
}

.contact header {
	color: #fff;
	
}

.contact nav a {
	color: #fff;
}

.contact-form {
	background:#f3f0ed;
	opacity: .9;
	height: 40%;                 
	max-width: 30%;
	margin: auto;
	margin-top: 10px;
	padding: 15px;
	display: block;
	border: white solid 10px;
	color: #253552;	
}

form {
  width: 100%;
  max-width: 500px;
}

input,
textarea {
  border: 1px solid gray;
  width: 400px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
input {
  height: 20px;
  width: 100%;
} 
textarea {
  height: 80px;
  width: 100%;
}
button {
  background: #E70066;
  border: 1px solid #f4f9f9;
  padding: 10px 40px;
  font-size: 16px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5%;
	background-color: #f4f9f9;
	font-family: 'Karla', sans-serif;
	border-top: 2px solid #e9e3de;
  	align-items: center;
  	justify-content: center;
  	display: flex;
  	color: #253552;
}

footer p {
	text-align: center;
	justify-content: center;
	align-items: center;
	display: inline-block;
	font-size:14px;

}
footer ul {
	list-style: none;
	display: inline-block;
    overflow: auto;
}
 
footer ul li {
    list-style-type: none;
    float: left;
}
 

.social li a {
	padding: 0;
}

.projects-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5%;
	background-color: #f4f9f9;
	font-family: 'Karla', sans-serif;
	border-top: 2px solid #e9e3de;
  	align-items: center;
  	justify-content: center;
  	display: flex;
  	color: #253552;
}
footer ul li a i {
    background: transparent;
    color: #253552;
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
}


/*RESPONSIVE DESIGN*/















