
* {
 box-sizing: border-box;
 overflow: scroll;
}


html,
body {
 height: 100%;
 position: relative;
}

.home {
	 min-height: 100vh; 
	 overflow: hidden;
	 display: block;
	 position: relative;
	 padding-bottom: 5px; 
	 background: url(../images/software-developer-female.jpg) no-repeat center center fixed;
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
	font-family:'Quicksand', sans-serif;
}



h1 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	text-transform: uppercase; 
	margin: 20 0 0 0;
	line-height: 1; 
	letter-spacing: .25em;
}

h2 {
	font-family: 'Karla', sans-serif;
	text-transform: lowercase;
	font-weight: 300;
	letter-spacing: 4px;
	margin: 0; 
	line-height: 1; 
}

h3 {
	font-family: 'Karla', sans-serif;
	text-transform: lowercase;
	font-weight: 300;
	letter-spacing: 2px;
	text-align: center;
	line-height: 1; 
	
}


a {
	color: #DEF3F8;
	text-decoration: none; 
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:active {
  color: black;
}


header,
section {
	padding: 5px;
}


body {
	padding: 0;
    margin: 0;
  	width: 100%;
  	height: 100%;
  	position: fixed;
}




/* HEADER$ 
------------------------*/
header h1 {
	font-size: 1.7em;
	font-family: 'Quicksand', sans-serif;
	padding: 35px 0 0 20px;
	margin-bottom: 2px;

}
header h2 {
	font-size: 1.2em;
	font-family: 'Quicksand', sans-serif;
	padding-left: 20px;
}

header {
	position: fixed;
	width: 100%;
	padding-left: 2em;
	color: black;
}

section {
	padding-top: 125px;
}

nav {
	position: absolute;
	right: 20px;
	top:20px;
}

nav ul {
	list-style-type:none; 
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block; 
}

nav a {
	display: block; 
	padding: 5px 15px;
	text-transform: uppercase;
	color: black;
}


/* ABOUT PAGE
------------------------*/

.information {
	background: #7085B6;  
	background: -webkit-linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);
	background: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);
}

.profile-img {
	float: left;
	height: 31%;
	width: 31%;
	margin: 20px;
	border: 10px solid #f4f9f9;
}

.profile-img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.aboutColleen {
	font-family: 'Karla', sans-serif;
	margin: 4%;
	padding-right: 4%;
	padding-left: 4%;
}

.interests {
	list-style-type: none;
}





/* home PAGE
------------------------*/

nav {
	position: absolute;
	font-family:'Karla', sans-serif; 
}


.home header {
	position: static;
	border-bottom: none;
	text-align: center;
	padding-top: 25px;
}

.lowerCase {
	text-transform: lowercase;
}


.home header h1 {
	font-size: 2em;
}

.home header h2 {
	font-size: 1.2em;
}


.home li {
	display: block;
}

.home nav {
	text-align: right;
	font-size: 1.2em;
}	

.home nav ul {
	display: none;
}

.home nav:hover ul {
	display: block;
}

.home a:hover {
	color: gray;
	padding: 10px;
	background: #D7F6FB;

}
.fa-bars {
	padding: 15px;
}

.home a {
	padding: 15px;
	display: inline-block;
}


/* PROJECTS PAGE
------------------------*/

section.projects {
	font-family: 'Karla', sans-serif;
	background: #E0F7FA;
}

section.projects nav {
	font-family: 'Karla', sans-serif;
	text-transform: uppercase;
	 font-size: 1.2em;
}

section.projects h1{
	font-size: 1.7em;
}

.project-heading {
  text-align: center;
  font-size: 18px;
}

.introduction {
  text-align: center;
}


div.row {
	margin-left: 5em;
	margin-right: 5em;
}

.caption {
	height: 128px;
}




/* CONTACT PAGE
------------------------*/

.contact header {
	background: #e8e8e8;
	opacity: .8;
}

.contact {
	background: url(../images/keyboard.jpg) no-repeat 90% / cover;
	font-family:'Karla', sans-serif;
}

.contact-form {
	background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);
	opacity: .9;
	height: 500px;
	width: 1
	max-width: 550px;
	margin: auto;
	margin-top: 10px;
	padding: 15px;
	display: block;
	border: #efefea solid 10px;
	color: white;	
}

form {
  width: 100%;
  max-width: 500px;
}

input,
textarea {
  border: 1px solid gray;
  width: 400px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
input {
  height: 20px;
  width: 100%;
} 
textarea {
  height: 80px;
  width: 100%;
}
button {
  background: #DEF3F8;
  border: none;
  padding: 10px 40px;
  font-size: 16px;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5%;
	background-color: #f4f9f9;
	font-family: 'Quicksand', sans-serif;
	color: black;
}

.footer p {
	text-align: center;
	font-size:14px;
}










